body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.js-Dropdown {
    display: inline-block;
    position: relative;
    width: 500px;
    color: #595859;
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: 501px) {
    .js-Dropdown {
        width: 100%;
    }
}

.js-Dropdown-title {
    background: #ffffff;
    border: 1px groove #a5a5a5;
    box-sizing: border-box;
    cursor: pointer;
    font: 400 14px sans-serif;
    padding: 0 10px;
    position: relative;
    text-align: left;
    width: 100%;
    height: 30px;
    color: #595859;
    box-shadow: none;
    outline: none;
}
.js-Dropdown-title:focus {
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 3px #777677;
}
.js-Dropdown-title:after {
    content:"";
    background-image: url("../images/Chevron-Down-16px.svg");
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.js-Dropdown-title.is-open:after {
    background-image: url("../images/Chevron-Up-16px.svg");
}
.js-Dropdown-list {
    background: #fff;
    box-sizing: border-box;
    display: none;
    height: 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: .2s linear;
    width: 100%;
    z-index: 999;
    line-height: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.js-Dropdown-list.is-open {
    display: block;
    height: auto;
    opacity: 1;
}
.js-Dropdown-list li {
    cursor: pointer;
    padding: 0 30px;
    height: 30px;
}
.js-Dropdown-list li:hover {
    background-color: #eef5ff;
    border-left: 1px solid #2d74da;
    padding: 0 29px;
}
.js-Dropdown-list li.is-selected {
    background-color: #eef5ff;
    border-left: 3px solid #2d74da;
    padding: 0 27px;
    font-weight: 700;
}

/*Tags*/
#tagDiv {
    padding-top: 10px;
    display: none;
}
.tag-component {
    margin-right: 10px;
    display: inline-block;
}
.single-tag {
    height: 30px;
    line-height: 30px;
    border: 1px solid #2d74da;
    font-size: 14px;
    padding: 0 10px 0 10px;
    color: #2d74da;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    position: relative;
    max-width: 200px;
    white-space: nowrap;
}
.tag-text {
    white-space: pre;
}